@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
/* A TODO */

*{ 
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
    list-style-type: none;
    box-sizing: border-box;

}

a{
    color: #f0ffff; 
}

body{
    background-image: url(../img/futurouso/wp4788976.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;     
}
.secHeader{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 30%;
    padding-top: 20px;
    padding-bottom: 20px;
}
        .divHorarios{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 30%;
        height: 50%;
        }
            .horarios{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            color: #f0ffff; 
            padding: 5px;
            margin-bottom: 5px;
            }
                .horarios p{
                padding-left: 10px;
                font-size: 1em;
                }
            .divRedes{
            display: flex;
            flex-direction: row; 
            flex-wrap: nowrap;
            justify-content: end;
            color: #f0ffff; 
            padding: 5px;
            margin-bottom: 5px;
            }
                .divRedes svg{
                margin-left: 30px;
                margin-right: 10px;
                }

                .secHeader2{
                    width: 80%;
                    color: #f0ffff;
                }
                .secHeader2 img{
                    width: 25%;
                }
                .navbar-toggler{
                    border: none;
                }

                .listnav{
                    width: 100%;
                }
                .listnav ul{
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    width: 30%;
                }
                .listnav a{
                    color:#f0ffff;
                }
                .buscador{
                    width: 30%;
                }


.navbar-toggler:focus, .navbar-toggler:hover{
outline: none;
box-shadow: none;
}


main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 40%;
    min-height: 65vh;
    padding-top: 20px;
}


footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    color: #f0ffff; 
}

.secFooter1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    height: 20%;
    justify-content: center;
    align-items: center;
}
    .divPago{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50%;
        padding: 2px;
        margin-top: 10px;
    }
        .mPago{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 50%;
            margin-bottom: 10px;
            gap: 20px;
        }



/* línea Separadora*//* línea Separadora*//* línea Separadora*//* línea Separadora*//* línea Separadora*//* línea Separadora*//* línea Separadora*/


.secHeader::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #a9a9b6;
}

.secFooter1::before{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #a9a9b6;
}



/* Página de Contacto *//* Página de Contacto *//* Página de Contacto *//* Página de Contacto *//* Página de Contacto *//* Página de Contacto */

.secContacto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
    .divContacto{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 80%;
    color: #f0ffff; 
    padding-top: 10px;
    padding-bottom: 5px;
    }
    .divContacto button{
    text-align: center;
    width: 10%;
    border-radius: 10%;
    border: none;
    background-color: #c9c0c0;
    }
    .divContacto h2{
        margin-top: 10px;
        margin-bottom: 5px;
    }

textarea{
    color: #f0ffff; 
}
    


/* Página de Iluminación *//* Página de Iluminación *//* Página de Iluminación *//* Página de Iluminación *//* Página de Iluminación */

.mainIlum{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    width: 80%;
    color: #f0ffff;
    font-size: 1.3em;
}

    .divIlum1{
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 50px;
    width: 100%;
    }

    .divIlum2{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    row-gap: 10vh;
    grid-template-areas: 
    "imgIlum1 txtIlum1"
    "txtIlum2 imgIlum2"
    "imgIlum3 txtIlum3";   
    }
    .divIlum2 img{
    width: 300px;
    height: 150px;
    }

        .imgIlum1{
            grid-area: imgIlum1;
            display: flex;
            justify-content: center;
        }
            .imgIlum1 img{
                object-fit: cover;
            }
            
        .imgIlum2{
            grid-area: imgIlum2;
            display: flex;
            justify-content: center;
        }
            .imgIlum2 img{
                object-fit: fill;
            }

        .imgIlum3{
            grid-area: imgIlum3;
            display: flex;
            justify-content: center;
        }
            .imgIlum3 img{
                object-fit: cover;
            }

        .txtIlum1{
            grid-area: txtIlum1;
            transition: 0.8s;
            padding-bottom: 20px;
        }
            .txtIlum1:hover{
                color: #f847c6;
                text-shadow: 0 0 10px #f847c6,
                            0 0 20px #f847c6,
                            0 0 40px #f847c6,
                            0 0 80px #f847c6,
                            0 0 120px #f847c6,
                            0 0 160px #f847c6;
                background-image: #000000;
                transition: 0.2s;
                font-size: 1.2em;
                padding: 3vh;
                letter-spacing: 5px;
            }

        .txtIlum2{
            grid-area: txtIlum2;
            transition: 0.8s;
            padding-bottom: 20px;
        }
            .txtIlum2:hover{
                color: #dcde4f;
                text-shadow: 0 0 10px #dcde4f,
                            0 0 20px #dcde4f,
                            0 0 40px #dcde4f,
                            0 0 80px #dcde4f,
                            0 0 120px #dcde4f,
                            0 0 160px #dcde4f;
                background-image: #000000;
                transition: 0.2s;
                font-size: 1.2em;
                padding: 3vh;
                letter-spacing: 5px;
            }

        .txtIlum3{
            grid-area: txtIlum3;
            transition: 0.8s;
            padding-bottom: 20px;
        }
            .txtIlum3:hover{
                color: #fff;
                text-shadow: 0 0 10px #fff,
                            0 0 20px #fff,
                            0 0 40px #fff,
                            0 0 80px #fff,
                            0 0 120px #fff,
                            0 0 160px #fff;
                background-image: #000000;
                font-size: 1.2em;
                transition: 0.2s;
                padding: 3vh;
                letter-spacing: 5px;
            }



/* Página de Seeds *//* Página de Seeds *//* Página de Seeds *//* Página de Seeds *//* Página de Seeds *//* Página de Seeds */

.gridSeeds{
    display: grid;
    row-gap: 20px;
    column-gap: 50px;
    margin-bottom: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "seed1 seed2"
    "seed3 seed4"
    "seed5 seed6"
    "seed7 seed8";
}

    .gridSeeds div{
    display: flex;
    align-items: row;
    justify-content: center;
    }
    .gridSeeds img{
    object-fit: fill;
    height: 300px;
    }
    .gridSeeds figcaption{
        font-size: 2em;
        }

        .seed1{
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        grid-area: seed1;
        border: solid #a9a9b6;
        color: #f0ffff;
        justify-content: end;
        align-items: center;
        background-color: black;
        border-radius: 10%;
        }
        .seed2{
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        grid-area: seed2;
        border: solid #a9a9b6;
        color: #f0ffff;
        justify-content: end;
        align-items: center;
        background-color: black;
        border-radius: 10%;
        }
        .seed3{
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        grid-area: seed3;
        border: solid #a9a9b6;
        color: #f0ffff;
        justify-content: end;
        align-items: center;
        background-color: black;
        border-radius: 10%;
        }
        .seed4{
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        grid-area: seed4;
        border: solid #a9a9b6;
        color: #f0ffff;
        justify-content: end;
        align-items: center;
        background-color: black;
        border-radius: 10%;
        }
        .seed5{
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        grid-area: seed5;
        border: solid #a9a9b6;
        color: #f0ffff;
        justify-content: end;
        align-items: center;
        background-color: black;
        border-radius: 10%;
        }
        .seed6{
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        grid-area: seed6;
        border: solid #a9a9b6;
        color: #f0ffff;
        justify-content: end;
        align-items: center;
        background-color: black;
        border-radius: 10%;
        }
        .seed7{
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        grid-area: seed7;
        border: solid #a9a9b6;
        color: #f0ffff;
        justify-content: end;
        align-items: center;
        background-color: black;
        border-radius: 10%;
        }
        .seed8{
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        grid-area: seed8;
        border: solid #a9a9b6;
        color: #f0ffff;
        justify-content: end;
        align-items: center;
        background-color: black;
        border-radius: 10%;
        }




/* Página de Sustratos *//* Página de Sustratos *//* Página de Sustratos *//* Página de Sustratos *//* Página de Sustratos */


main p::first-letter{
    font-size: 1.3em;
}
main p{
    font-size: 1em;
}



/* BEACKPOINTS *//* BEACKPOINTS *//* BEACKPOINTS *//* BEACKPOINTS *//* BEACKPOINTS *//* BEACKPOINTS *//* BEACKPOINTS *//* BEACKPOINTS */

@media(width<769px){
    .divIlum2{
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 1fr;
    margin-bottom: 40px;
    gap: 10px;
    grid-template-areas: 
    "imgIlum1"
    "txtIlum1"
    "imgIlum2" 
    "txtIlum2"
    "imgIlum3" 
    "txtIlum3";   
    }
    .gridSeeds{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "seed1"
    "seed2"
    "seed3" 
    "seed4"
    "seed5" 
    "seed6"
    "seed7" 
    "seed8";
    }
}
