
// contacto


.secContacto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;
    width: 80%;
    .divContacto{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        color: $white; 
        padding-top: 10px;
        padding-bottom: 5px;
        button{
            text-align: center;
            width: 10%;
            border-radius: 10%;
            border: none;
            background-color: $gray;
        }
        h2{
            margin-top: 10px;
            margin-bottom: 5px;
        }
    }
}

