
//tent

.titleTent{
    width: 80%;
    align-self: start;
    text-align: center;
    color: $white;
    margin-bottom: 30px;
}
.tent{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    width: 30%;
    height: 100%;
    img{
        width: 50%;
        height: 80%;
    }
    figcaption{
        font-family: 'Kanit', sans-serif;
        font-weight: $textLg;
        font-style: $textIt;
        color: $gray;
        height: 20%;
        width: 100%;
        margin-top: 10px;
        span{
            font-family: $secText;
            font-weight: $textBdr;
            font-style: $textIt;
            color: $white;
        }
    }
}

.tentGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "tent1 tent2 tent3";
    width: 80%;
    height: 100%;
    align-items: center;
    justify-content: center;
    @media(width<1024px){
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "tent1" 
        "tent2" 
        "tent3";
        row-gap: 15px;
        width: 80%;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
    }
    .tent1{
        @extend .tent;
        grid-area: tent1; 
    }
    .tent2{
        @extend .tent;
        grid-area: tent2; 
    }
    .tent3{
        @extend .tent;
        grid-area: tent3; 
    }
}


