// Variables globales

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,700;1,400;1,700&display=swap');


// text related

$mainText: 'Roboto', sans-serif;
$secText: 'Kanit', sans-serif;
$textSm: 1em;
$textM2: 1.2em;
$textM3: 1.3em;
$textM5: 1.5em;
$textXl: 2em;
$textXXL: 10em;
$textLg: 400;
$textBd: 500;
$textBdr: 700;
$textIt: italic;


// color related

$white: #f0ffff; 
$dark: #2c2828;
$pink: #f847c6;
$yellow: #dcde4f;
$gray: #a9a9b6;
$bcGreen: #2c692b;
$bcGray: #a9a9b6;











